* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #0f1138;
    text-decoration: none;
    transition: color .3s;
}

/* header */
header {
    width: 1200px;
    max-width: 100%;
    padding: 44px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.logo a {
    display: flex;
    align-items: center;
}
.logo img {
    margin: 10px;
}
.logo span {
    color:#1A75E8;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 10px;
}
.menu li:hover a {
    color: #1A75E8;
}

input[type=submit] {
    color: #0f1138;
    background: transparent;
    padding: 11px 40px;
    border: none;
    font-family: Fira Sans;
}
input[type=button] {
    color: #fff;
    background: #1A75E8;
    padding: 11px 40px;
    border: none;
    border-radius: 5px;
    font-family: Fira Sans;
}

/* hero */
.hero {
    background: #F2F3F6;
    height: 100vh;
}
.hero-wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;

}