* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #111238;
}
a {
    color: #0f1136;
    text-decoration: none;
    transition: color .3s;
}
.btn{
    height: 50px;
    color : #fff ;
    background: #1A75E8;
    border-radius: 5px;
    border: none;
}
/*header*/
header{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 44px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}
.logo a {
    display: flex;
    align-items: center;
    
}
.logo img {
    margin-right: 10px;
}
.logo span {
    color: #1A75E8;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 10px;
}
.menu li:hover a {
    color: #1A75E8;
}
/*hero*/
.hero {
   background: #F2F3F6;
   height: 100vh;
}
.hero-wrap{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
    background: url(../img/изображение_viber_2021-07-29_18-11-43-687.png) center right / auto no-repeat;
}
.hero-info{
    width: 50%;
    
}
h1 {
    font-weight: 900;
font-size: 44px;
line-height: 53px;
margin-bottom: 15px;
}
p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
}
form {
    margin: 30px 0 5px;
    background: rgb(255, 255, 255);
    padding: 10px;
}
form input {
    width: 49%;
}
input[type=search] {
    height:50px;
    border:none;
    padding-left: 15px;
}

.example {
    font-size: 14px;
    line-height: 17px;
    color: #b2b2b2;
}
.example span {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}
input[type=submit] {
    color: #0f1138;
    background: transparent;
    padding: 11px 40px;
    border: none;
    font-family: Fira Sans;
}
input[type=button] {
    color: #fff;
    background: #1A75E8;
    padding: 11px 40px;
    border: none;
    border-radius: 5px;
    font-family: Fira Sans;
}
